<!-- <h1>TypeScript Training</h1>
<p >{{num}} </p>
<button (click)="shw()">CLick</button>
<div>
  <span>Enter value :  </span> -->
  <!-- <input #txtVal type="text" (change)="show(txtVal.value)"  /> -->
  <!-- <input type="text" [(ngModel)]="name" />

</div>
<h2>{{name}}</h2> -->
<div>
 <fieldset>
  <legend>Make a Choice:</legend>
  <input type="radio" id="radioAdd" (change)="changeSelection(1)" name="calcuationChoice"> Add  &nbsp;&nbsp;
  <input type="radio" id="radioSubtract" (change)="changeSelection(2)" name="calcuationChoice"> Subtract  &nbsp; &nbsp;
  <input type="radio" id="radioMultiply"  (change)="changeSelection(3)" name="calcuationChoice"> Multiply &nbsp;  
  <input type="radio" id="radioDivide"    (change)="changeSelection(4)"name="calcuationChoice"> Divide &nbsp; &nbsp;
  </fieldset> 
  <br/>
 <div id="inputSec">
  <input type="number"  [(ngModel)]="num1" placeholder="Enter your value"  />&nbsp;&nbsp;
  <input type="number"  placeholder="Enter your value" [(ngModel)]="num2">&nbsp;&nbsp;
  <button type="submit" (click)="show()" >Calculate</button>
 </div>
 <br/> <br/>
 <h1>Result : {{result}}</h1>
</div>